.joystick {
  background-color: $button;

  &.outer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px $darkest,
      // Outter Shadow
        -0.5px 1px 1px $darkest,
      // Lower Left Drop Shadow
        inset 1px 0.75px 1px darken($button, 10%),
      // Upper Left - Dark,
        inset -1.5px -2px 3px lighten($darkest, 15%),
      // Lower Right - Dark
        inset 2px -3px 4px darken($button, 10%),
      // Lower Left - Dark
        inset -1px 1.5px 3px $button,
      // Upper Right - Dark
        inset 3px 2px 3px $button,
      inset -1.5px 3px 8px lighten($button, 70%),
      inset 2px -9px 30px lighten(transparentize($darkest, 0.5), 10%),
      // Bottom Curve
        inset -2px 9px 30px lighten(
          transparentize($darkest, 0.5),
          40%
        ); // Top Curve
  }

  &.inner {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: radial-gradient(
      at 65% 20%,
      lighten($button, 15%),
      darken($button, 10%) 80%,
      darken($button, 15%) 100%
    );
  }
}
