.joystick {
  background-color: $button;

  &.outer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 0 0 0 0.5px darken($button, 10%),
      // Seating
        0 -0.5px 3px 1px darken($button, 15%),
      // Seating Edge
        inset 1px 0.75px 1px $button,
      // Upper Left - Dark,
        inset -1.5px -2px 3px lighten($darkest, 15%),
      // Lower Right - Dark
        inset 2px -3px 4px darken($button, 10%),
      // Lower Left - Dark
        inset -1px 1.5px 3px lighten($button, 5%),
      // Upper Right - Dark
        inset 3px 2px 3px $button,
      // Upper Left - Curve
        inset -1.5px 3px 8px lighten($button, 70%),
      // Main Curve
        inset 2px -9px 30px lighten(transparentize($darkest, 0.5), 10%),
      // Bottom Curve
        inset -2px 9px 30px lighten(transparentize($darkest, 0.5), 40%),
      // Top Curve
        -3px 5px 10px transparentize($darkest, 0.3); // Drop Shadow

    &:after {
      height: 55px;
      width: 55px;
      content: "";
      background-position: center;
      background-repeat: no-repeat;
      // background-color: $button;
      background-size: 2.75px 100%, 100% 2.75px;
      background-image: linear-gradient(to bottom, $button, $darkest),
        linear-gradient(to left, $button, $darkest);
    }
  }

  &.inner {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $button;
    background-size: 2.75px 100%, 100% 2.75px, 100%;
    background-image: linear-gradient(
        to bottom,
        lighten($button, 35%),
        $darkest
      ),
      linear-gradient(to left, lighten($button, 15%), lighten($darkest, 5%)),
      linear-gradient(20deg, lighten($button, 25%), darken($button, 60%));
    box-shadow: inset 0 -1px 1.5px 0.5px lighten(transparentize($button, 0.8), 20%),
      inset 0 1px 0.5px 1px transparentize($button, 0.8);

    &:after {
      position: absolute;
      top: 2px;
      left: 2px;
      content: "";
      display: block;
      margin: auto;
      width: 41px;
      height: 41px;
      border-radius: 50%;
      background-image: radial-gradient(
        at 65% 20%,
        lighten($button, 35%),
        darken($button, 5%) 80%,
        darken($button, 25%) 100%
      );
      box-shadow: inset 2px -9px 30px lighten(transparentize($darkest, 0.5), 10%);
    }
  }
}
