.logos-container {
  position: relative;
  top: 50px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100vw;
  max-width: 1200px;

  a {
    transition: transform 1s;
    &:hover {
      transform: scale(1.2);
    }
  }

  & .my-icon {
    opacity: 0.7;
    font-size: 26px;
    color: black;
    background-color: linear-gradient(rgba(50, 50, 50, 0.7), black);
  }
}

.logo {
  height: 150px;
  padding-bottom: 50px;
  object-fit: contain;
  img {
    box-shadow: inset 0 5px 5px white;
  }
}

.logo-container {
  .logo {
    float: left;
    // display: none;
  }
}

.vue-text {
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
  color: black;
  font-size: 72px;
  float: left;
}

.shadow-backdrop {
  position: absolute;
  transform: rotateX(-70deg) scale(0.95) scaleX(0.9);
  top: 50px;
  margin-left: -30px;
  margin-top: -15px;
  filter: blur(12px) grayscale(100%);
  opacity: 0.15;
  mask-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 1));
}
