// Lighting
$lightingMain: #aaa;
$lightingSecondary: white;
$lighting40: mix($lightingMain, $lightingSecondary, 40);
$lighting70: mix($lightingMain, $lightingSecondary, 70);

// Main Body
$main: #252222;
$button: #283333;
$buttonText: #bba;
$darkest: rgba(0, 0, 0, 1);

// Controller Left
$controllerLeft: rgba(48, 228, 255, 1);

// Controller Right
$controllerRight: rgba(255, 30, 30, 1);

// Break Points
$LargeScreen: 1200px;
$MediumScreen: 992px;
$SmallScreen: 768px;
$XSmallScreen: 576px;
