/* 
 * Inspired By fossheim in https://codepen.io/fossheim/pen/jObGxQQ 
 */

@import "styles/fonts.scss";
@import "styles/variables.scss";
@import "styles/screen.scss";
@import "styles/buttons.scss";
@import "styles/joystick.scss";
@import "styles/bumper.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  position: relative;
  background-image: radial-gradient(
    circle,
    $lightingSecondary 0%,
    $lighting40 60%,
    $lightingMain 100%
  );
}

.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.switch {
  z-index: 10;
  display: flex;
  height: 400px;
  width: 940px;
}

.controller {
  width: 13.34%;
  height: 100%;
  position: relative;

  &.left {
    background-image: linear-gradient(
      90deg,
      darken($controllerLeft, 10%),
      darken($controllerLeft, 5%) 70%,
      $controllerLeft 100%
    );
    border-radius: 90px 2px 2px 90px;
    box-shadow: inset -1px 0px 3px lighten($controllerLeft, 10%),
      // Right Bezel
        inset 0px -6px 5px darken($controllerLeft, 15%),
      // Bottom Bezel
        inset 3px -4px 6px darken($controllerLeft, 25%),
      // Left Bezel
        inset -1.5px 5px 4px lighten($controllerLeft, 25%); //Top Bezel

    .minus {
      position: absolute;
      width: 21px;
      height: 7px;
      top: 32px;
      right: 8px;
      background-color: $button;
      box-shadow: -0.5px 0 1px 0.5px mix($darkest, $main),
        // Drop Shadow Outline
          -0.5px 0.5px 1px $darkest,
        // Drop Shadow 1
          -1px 1px 3px $darkest,
        // Drop Shadow 2
          inset -1px 1px 1px $lightingMain;
    }

    .joystick.outer {
      top: 60px;
      right: 32px;
    }

    .button-container {
      top: 155px;
      left: 20px;
    }
  }

  &.right {
    background-image: linear-gradient(
      90deg,
      $controllerRight,
      lighten($controllerRight, 5%) 30%,
      lighten($controllerRight, 10%) 100%
    );
    border-radius: 2px 90px 90px 2px;
    box-shadow: inset -5px 3px 5px lighten($controllerRight, 20%),
      // Right Bezel
        inset 0px -6px 5px darken($controllerRight, 15%),
      // Bottom Bezel
        inset 1px 0px 3px darken($controllerRight, 25%),
      // Left Bezel
        inset 0px 5px 6px lighten($controllerRight, 25%); //Top Bezel

    .plus-container {
      position: relative;
      z-index: 10;
      top: 32px;
      left: 8px;
    }

    .plus:before {
      position: absolute;
      content: "";
      z-index: -1;
      width: 6px;
      height: 21px;
      left: 8px;
      top: -7px;
      background-color: $button;
      box-shadow: -0.5px 0 1px 0.5px mix($darkest, $main),
        // Drop Shadow Outline
          0px 1px 2px mix($darkest, $main),
        // Drop Shadow - Down
          -1px 1px 2px mix($darkest, $main),
        // Drop Shadow - Left
          inset 1px -1px 1px $lightingMain;
    }

    .plus {
      position: relative;
      width: 21px;
      height: 7px;
      background-color: $button;
      box-shadow: 0 0 0.5px 0.5px mix($darkest, $main),
        // Drop Shadow Outline
          -1px 1px 2px mix($darkest, $main, 70),
        // Drop Shadow 1
          // -1px 1px 1px mix($darkest, $main),
          // Drop Shadow 2
          // inset 1px -1px 1px $darkest,
          inset -0.25px 0.5px 0.5px $lightingMain;
    }

    .plus:after {
      position: absolute;
      content: "";
      width: 7px;
      height: 21px;
      left: 7px;
      top: -7px;
      background-color: $button;
      box-shadow: inset 0px 0.5px 0px $lightingMain;
    }

    .button-container {
      top: 55px;
      right: 20px;
    }

    .joystick.outer {
      top: 180px;
      left: 35px;
      transform: translateX(-3px);
    }
  }
}

.switch-shadow {
  z-index: 1;
  width: 800px;
  height: 70px;
  margin-left: -30px;
  margin-top: -50px;
  background-color: black;
  border-radius: 30px 180px;
  opacity: 0.15;
  box-shadow: 0px 0px 30px 30px black;
}
